mistral_common==1.5.1
mistral_inference==1.5.0
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
qwen-vl-utils==0.0.8
safetensors==0.4.3
tokenizers==0.21.0
tqdm==4.66.4
transformers==4.47.0
vllm==0.6.6.post1
xformers==0.0.28.post3